# This is Git's per-user configuration file.
[user]
	name = sanderdrummer
	email = tobias.pickel@moia.io
[core]
	editor = nvim
[push]
	default = current
	autoSetupRemote = true
[http]
	postBuffer = 157286400
# brew install git-delta
# https://github.com/dandavison/delta
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
