    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
    ;; https://ke-complex-modifications.pqrs.org/#mouse_keys_mode_v4
{
:profiles {
    :Default {
        :default true
        :sim     25     ;; simultaneous_threshold_milliseconds (def: 50)
                        ;; if keydown event for two different keys are pressed within :sim ms, the keypresses are considered simultaneous
        :delay   150    ;; to_delayed_action_delay_milliseconds (def: 500)
                        ;; after :delay ms, the key press is considered to be delayed (used for double-press macros)
        :alone   500    ;; to_if_alone_timeout_milliseconds (def: 1000)
                        ;; if keyup event comes within :alone ms from keydown, the key is not just pressed but held
        :held    500    ;; to_if_held_down_threshold_milliseconds (def: 500)
    }
} ;; profiles
 :simlayers {
             :sym-mode {:key :m }
             :num-mode {:key :v }
             :shiftnum-mode {:key :comma }
             }
 :main 
 [
    {:des "simultanious keycombos"
      :rules [
              [[:a :s] :left_control]
              [[:s :d] :left_option]
              [[:d :f] :left_command]
              [[:s :d :f] :!Cleft_option]
              [[:semicolon :l] :right_control]
              [[:l :k] :right_option]
              [[:k :j] :right_command]
              [[:c :v] :return_or_enter]
              [[:semicolon :l] :right_control]
            ]
    } 
    {:des "mod mods"
      :rules [
              [:left_command :left_command nil {:alone  :tab}]
              [:caps_lock :left_control nil {:alone  :escape}]
              [:escape :left_control nil {:alone  :escape}]
              [:right_command :right_command nil {:alone  :return_or_enter}]
              [:right_option :right_option nil {:alone :delete_or_backspace}]
            ]
    } 
    {:des "shift space mods"
      :rules [
              [:!Sspacebar :equal_sign]
            ]
    } 
    {:des "vim cursors"
      :rules [
              [:!Co :end]
              [:!Ci :page_up]
              [:!Cu :page_down]
              [:!Cy :home]
              [:!Ch :left_arrow]
              [:!Cj :down_arrow]
              [:!Ck :up_arrow]
              [:!Cl :right_arrow]
            ]
    } 
    {:des "amethyst"
      :rules [
              [:!Oj :!Of11]
              [:!Ok :!Of10]
              [:!Ol :!Of9]
              [:!Osemicolon :!Of8]
              [:!Ef :!Of11]
              [:!Ed :!Of10]
              [:!Es :!Of9]
              [:!Ea :!Of8]
            ]
    } 
    {:des "sym mode"
      :rules [
              [:e :!Sopen_bracket :sym-mode]
              [:r :!Sclose_bracket :sym-mode]
              [:d :!S9 :sym-mode]
              [:f :!S0 :sym-mode]
              [:c :open_bracket :sym-mode]
              [:v :close_bracket :sym-mode]
              [:s :quote :sym-mode]
              [:w :!Squote :sym-mode]
              [:a :hyphen :sym-mode]
              [:q :!Shyphen :sym-mode]
              [:g :!Sbackslash :sym-mode]
              [:t :backslash :sym-mode]
              [:x :grave_accent_and_tilde :sym-mode]
              [:z :!Sgrave_accent_and_tilde :sym-mode]
              [:b :!Sequal_sign :sym-mode]
            ]
    } 
    {:des "num mode"
      :rules [
              [:m :1 :num-mode]
              [:comma :2 :num-mode]
              [:period :3 :num-mode]
              [:j :4 :num-mode]
              [:k :5 :num-mode]
              [:l :6 :num-mode]
              [:u :7 :num-mode]
              [:i :8 :num-mode]
              [:o :9 :num-mode]
              [:p :0 :num-mode]
              [:d :left_command :num-mode]
              [:s :left_option :num-mode]
              [:y :backslash :num-mode]
              [:h :!Sbackslash :num-mode]
            ]
    } 
    {:des "shiftnum mode"
      :rules [
              [:x :!S1 :shiftnum-mode]
              [:c :!S2 :shiftnum-mode]
              [:v :!S3 :shiftnum-mode]
              [:s :!S4 :shiftnum-mode]
              [:d :!S5 :shiftnum-mode]
              [:f :!S6 :shiftnum-mode]
              [:w :!S7 :shiftnum-mode]
              [:e :!S8 :shiftnum-mode]
              [:r :!S9 :shiftnum-mode]
              [:t :!S0 :shiftnum-mode]
            ]
    } 
  ]
}


