    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; https://ke-complex-modifications.pqrs.org/#mouse_keys_mode_v4
{
 :simlayers {
             :sym-mode {:key :comma }
             :num-mode {:key :period }
             :shiftnum-mode {:key :slash }
             }
 :main 
 [
    {:des "simultanious keycombos"
      :rules [
              [[:a :s] :left_control]
              [[:s :d] :left_option]
              [[:d :f] :left_command]
              [[:s :f] :left_shift]
              [[:semicolon :l] :right_control]
              [[:l :k] :right_option]
              [[:k :j] :right_command]
              [[:l :j] :right_shift]
            ]
    } 
    {:des "mod mods"
      :rules [
              [:left_command :left_command nil {:alone  :tab}]
              [:right_command :right_command nil {:alone  :return_or_enter}]
            ]
    } 
    {:des "shift space mods"
      :rules [
              [:!Sspacebar :equal_sign]
            ]
    } 
    {:des "vim cursors"
      :rules [
              [:!Co :end]
              [:!Ci :page_up]
              [:!Cu :page_down]
              [:!Cy :home]
              [:!Ch :left_arrow]
              [:!Cj :down_arrow]
              [:!Ck :up_arrow]
              [:!Cl :right_arrow]
            ]
    } 
    {:des "amethyst"
      :rules [
              [:!Oj :!Of11]
              [:!Ok :!Of10]
              [:!Ol :!Of9]
              [:!Osemicolon :!Of8]
              [:!Ef :!Of11]
              [:!Ed :!Of10]
              [:!Es :!Of9]
              [:!Ea :!Of8]
            ]
    } 
    {:des "sym mode"
      :rules [
              [:e :!Sopen_bracket :sym-mode]
              [:r :!Sclose_bracket :sym-mode]
              [:d :!S9 :sym-mode]
              [:f :!S0 :sym-mode]
              [:c :open_bracket :sym-mode]
              [:v :close_bracket :sym-mode]
              [:s :quote :sym-mode]
              [:w :!Squote :sym-mode]
              [:a :hyphen :sym-mode]
              [:q :!Shyphen :sym-mode]
              [:g :!S8 :sym-mode]
              [:t :!S7 :sym-mode]
              [:z :grave_accent_and_tilde :sym-mode]
              [:x :!Sgrave_accent_and_tilde :sym-mode]
              [:b :!Sequal_sign :sym-mode]
            ]
    } 
    {:des "num mode"
      :rules [
              [:x :1 :num-mode]
              [:c :2 :num-mode]
              [:v :3 :num-mode]
              [:s :4 :num-mode]
              [:d :5 :num-mode]
              [:f :6 :num-mode]
              [:w :7 :num-mode]
              [:e :8 :num-mode]
              [:r :9 :num-mode]
              [:t :0 :num-mode]
            ]
    } 
    {:des "shiftnum mode"
      :rules [
              [:x :!S1 :shiftnum-mode]
              [:c :!S2 :shiftnum-mode]
              [:v :!S3 :shiftnum-mode]
              [:s :!S4 :shiftnum-mode]
              [:d :!S5 :shiftnum-mode]
              [:f :!S6 :shiftnum-mode]
              [:w :!S7 :shiftnum-mode]
              [:e :!S8 :shiftnum-mode]
              [:r :!S9 :shiftnum-mode]
              [:t :!S0 :shiftnum-mode]
            ]
    } 
  ]
}


