    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; https://ke-complex-modifications.pqrs.org/#mouse_keys_mode_v4
{
 :simlayers {:sym-mode {:key :m }}
 :main 
 [
    {:des "simultanious keycombos"
      :rules [
              [[:a :s] :left_control]
              [[:s :d] :left_option]
              [[:d :f] :left_command]
              [[:a :f] :left_shift]
              [[:semicolon :l] :right_control]
              [[:l :k] :right_option]
              [[:k :j] :right_command]
              [[:l :j] :right_shift]
            ]
    } 
    {:des "shift space mods"
      :rules [
              [:!Sspacebar :equal_sign]
            ]
    } 
    {:des "vim cursors"
      :rules [
              [:!Co :end]
              [:!Ci :page_up]
              [:!Cu :page_down]
              [:!Cy :home]
              [:!Ch :left_arrow]
              [:!Cj :down_arrow]
              [:!Ck :up_arrow]
              [:!Cl :right_arrow]
            ]
    } 
    {:des "amethyst"
      :rules [
              [:!Oj :!Of11]
              [:!Ok :!Of10]
              [:!Ol :!Of9]
              [:!Esemicolon :!Of8]
              [:!Ef :!Of11]
              [:!Ed :!Of10]
              [:!Es :!Of9]
              [:!Ea :!Of8]
            ]
    } 
    {:des "m mode"
      :rules [
              [:e :!Sopen_bracket :sym-mode]
              [:r :!Sclose_bracket :sym-mode]
              [:d :!S9 :sym-mode]
              [:f :!S0 :sym-mode]
              [:c :open_bracket :sym-mode]
              [:v :close_bracket :sym-mode]
              [:s :quote :sym-mode]
              [:w :!Squote :sym-mode]
              [:a :hyphen :sym-mode]
              [:q :!Shyphen :sym-mode]
              [:g :!S8 :sym-mode]
              [:t :!S7 :sym-mode]
            ]
    } 
  ]
}

